{% extends 'base.html' %}


{% block content %}
<style>
    @import url('/static/css/entrance.css')
</style>
<div class="card">
    <div class="card-body">
        <form action="" method="post" novalidate>
            <h3 align="center">
                Войти в аккаунт
            </h3>
            <div class="cardd">
                <div class="card-boby">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {{ response }}
                        <p>{{ form.address.label() }}<br>
                            {{ form.address }}
                        </p>
                        <p>
                            {{ form.password.label() }}<br>
                            {{ form.password }}
                        </p>
                        <p>{{ form.recovery_submit }}</p>
                        <p>{{ form.submit }}</p>
                        <p>{{ form.registration_submit }}</p>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}