{% extends 'base.html' %}

{% block content %}
<style>
    @import url('/static/css/recovery_data.css')
</style>

<div class="card">
    <div class="card-body">
        <form action="" method="post" novalidate>
            <h3>Ввостановление аккаунта</h3>
            <div class="cardd">
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {{ form.csrf_token }}
                        {{response}}
                        <p>{{form.password.label()}}<br>
                           {{form.password}}</p>
                        <p>{{form.pass_exam.label()}}<br>
                           {{form.pass_exam}}</p>
                        <p>{{ form.submit }}</p>
                    </form>
                </div>
            </div>
       </form>
    </div>
</div>
{% endblock %}